* {
    margin: 0;
    font-family: sans-serif, serif;
    padding: 0;
    font-size: 1em;

}

.TimesNewRoman {
    font-family: "Times New Roman";
}

.i {
    font-style: italic;
}
.lighter{
    font-weight: lighter;
}

body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #EAE8F6;
    min-width: 600px;
}

header {
    padding: 1em;
    background-color: #1A237E;
    color: white;
}

h1 {
    font-size: 1.5em;
}

nav {
    /*border: 3px solid salmon;*/

    background-color: #3F51B5;
}

nav ul {
    padding-left: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    list-style: none;
}

nav ul li {
    /*border: 3px solid red;*/
    display: inline;
}

nav a {
    padding: 0.3em;
    color: #00B0FF;
}

nav ul li a:hover {
    color: white;
    background-color: #F50057;
}

section {
    background-color: white;
}

.main {
    margin-top: 0.5em;
    padding: 0.5em;
}

h2 {
    padding: 1em;
    background-color: #7986CB;
    color: white;
}

div {
    border: 1px solid #C5CAE9;
    border-top: 0;
}

.main figure img {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    vertical-align: middle;
}

.main figcaption {
    background-color: #C5CAE9;
    color: #7990A3;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.main .words {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.words a {
    color: #00B0FF;
    font-weight: bold;
}

.options {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

h3 {
    padding: 1em;
    background-color: #7986CB;
    color: white;
}

.photos {
    margin-top: 0.5em;
    padding: 0.5em;
}

.photos img {
    padding-bottom: 0;
    vertical-align: middle;
}

.review {
    margin-top: 0.5em;
    padding: 0.5em;
}

h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    color: #C5CAE9;
}

h4 span {
    color: #F5A2C1
}

.review p {
    padding-bottom: 0.5em;
    padding-left: 1em;
}

hr {
    margin-right: 1em;
    margin-left: 1em;
}

#hr {
    margin-bottom: 1em;
}

footer {
    margin-top: 0.5em;
    padding-left: 1em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background-color: #1A237E;
    color: white;
}

.link {
    padding-bottom: 0.6em;
}

footer a {
    color: #00B0FF;
}